In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import calendar
from datetime import datetime as dt
import shapefile
from shapely.geometry import shape, Point
from shapely.geometry.polygon import Polygon
from mpl_toolkits.basemap import Basemap
import re
import time
import requests
from bs4 import BeautifulSoup, Comment
import os
import json

import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions/h9gi-nx95

In [2]:
# url = 'https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=DOWNLOAD'

# o = 'object'
# f = 'float64'
# i = 'int64'

# acc = pd.read_csv(
#     url,
#     dtype = {
#         'DATE' : o, 
#         'TIME' : o,
#         'BOROUGH' : o,
#         'ZIP CODE' : o,
#         'LATITUDE' : f,
#         'LONGITUDE' : f,
#         'LOCATION' : o,
#         'ON STREET NAME' : o,
#         'CROSS STREET NAME' : o,
#         'OFF STREET NAME' : o,
#         'NUMBER OF PERSONS INJURED' : i,
#         'NUMBER OF PERSONS KILLED' : i,
#         'NUMBER OF PEDESTRIANS INJURED' : i,
#         'NUMBER OF PEDESTRIANS KILLED' : i,
#         'NUMBER OF CYCLIST INJURED' : i,
#         'NUMBER OF CYCLIST KILLED' : i,
#         'NUMBER OF MOTORIST INJURED' : i,
#         'NUMBER OF MOTORIST KILLED' : i,
#         'CONTRIBUTING FACTOR VEHICLE 1' : o,
#         'CONTRIBUTING FACTOR VEHICLE 2' : o,
#         'CONTRIBUTING FACTOR VEHICLE 3' : o,
#         'CONTRIBUTING FACTOR VEHICLE 4' : o,
#         'CONTRIBUTING FACTOR VEHICLE 5' : o,
#         'UNIQUE KEY' : o,
#         'VEHICLE TYPE CODE 1' : o,
#         'VEHICLE TYPE CODE 2' : o,
#         'VEHICLE TYPE CODE 3' : o,
#         'VEHICLE TYPE CODE 4' : o,
#         'VEHICLE TYPE CODE 5' : o
#     }
# )

# orig_len = len(acc)
# print(orig_len)
# acc.head(2)

In [3]:
# acc.columns = [x
#                .replace('NUMBER OF ', '')
#                .replace('CONTRIBUTING FACTOR VEHICLE', 'FACTOR')
#                .replace('VEHICLE TYPE CODE', 'TYPE')
#                .lower() for x in acc.columns]

# acc.rename(columns = {'latitude' : 'lat', 'longitude' : 'lon'}, inplace = True)
# acc.drop([
#     'location', ## all null
# #     'zip code', 
# #     'unique key'
# ], axis = 1, inplace = True)

In [4]:
# acc.loc[(acc['lat'] < 40.45) | (acc['lat'] > 40.95), 'lat'] = np.nan
# acc.loc[(acc['lon'] < -74.3) | (acc['lon'] > -73.7), 'lon'] = np.nan

In [5]:
# acc = acc[
#     (pd.notnull(acc['cross street name']) & pd.notnull(acc['on street name'])) | \
#     pd.notnull(acc['off street name']) | \
#     (pd.notnull(acc['lon']) & pd.notnull(acc['lat']))
# ]

In [6]:
# ## check empty proportions of columns which should be completely non-empty
# ((acc.isnull().sum()[acc.isnull().sum() != 0])/\
#  len(acc))[(acc.isnull().sum()[acc.isnull().sum() != 0])/len(acc) < 0.8].sort_values(ascending = False)

In [7]:
# print(len(acc))
# mask = [True if '2017' in x else False for x in acc['date']]
# acc = acc[mask]
# print(len(acc))

In [8]:
# acc.to_csv('assets/2017.csv', index = False)

In [9]:
acc = pd.read_csv('assets/2017.csv')
acc.head(2)

,date,time,borough,zip code,lat,lon,on street name,cross street name,off street name,persons injured,...,factor 2,factor 3,factor 4,factor 5,unique key,type 1,type 2,type 3,type 4,type 5
0,12/18/2017,4:00,QUEENS,11378.0,NaN,NaN,NaN,NaN,65-10 hull avenue,0,...,NaN,NaN,NaN,NaN,3812944,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1,12/14/2017,10:20,NaN,NaN,NaN,NaN,WEST 41 STREET,GALVIN AVENUE,NaN,0,...,NaN,NaN,NaN,NaN,3815951,TAXI,NaN,NaN,NaN,NaN

In [10]:
## get geo columns on slice of data frame missing both lat and lon
other = acc.loc[acc['lat'].isnull() | acc['lon'].isnull(), 
                ['cross street name', 'on street name', 'off street name', 'borough', 'zip code']]

## get rid of rows where all geo columns are null
other.dropna(axis = 0, how = 'all', inplace = True)
other.isnull().sum()/len(other)

cross street name    0.142186
on street name       0.142186
off street name      0.857814
borough              0.591629
zip code             0.591977
dtype: float64

In [11]:
## remove parens and all characters in between
other.loc[pd.notnull(other['off street name']), 'off street name'] = \
[re.sub(r'\(.*\)','', x) for x in other.loc[pd.notnull(other['off street name']), 'off street name']]

## take off extra tabs
other.loc[pd.notnull(other['off street name']), 'off street name'] = \
[ ' '.join(x.split()) for x in other.loc[pd.notnull(other['off street name']), 'off street name']]

first_dict = {
    'boulevard' : 'blvd', 
    'avenue' : 'ave', 
    'street' : 'st', 
    'drive' : 'dr', 
    'road' : 'rd',
    'sreet' : 'st'
}

for key in list(first_dict.keys()):
    other.loc[pd.notnull(other['off street name']), 'off street name'] = \
    [x.lower().replace(key, first_dict[key]) for x in other.loc[pd.notnull(other['off street name']), 'off street name']] 

replace_dict = {
    'p/l of ' : '', 
    'parking lot of ' : '', 
    'parking lot ' : '', 
    'rear of ' : '', 
    'gas lot-' : '', 
    '--' : '-', 
    'drway of ' : '', 
    'pole ' : '', 
    ' parking lot' : '', 
    ' r/o' : '', 
    'pennsilvania' : 'pennsylvania',
    'vanpelt' : 'van pelt',
    ' drd' : ' dr',
    'mc donald' : 'mcdonald',
    '9 ave' : '9th ave',
    '9 st' : '9th st',
    '9 rd' : '9th rd',
    '9 dr' : '9th dr',
    '8 ave' : '8th ave',
    '8 st' : '8th st',
    '8 rd' : '8th rd',
    '8 dr' : '8th dr',
    '7 ave' : '7th ave',
    '7 st' : '7th st',
    '7 rd' : '7th rd',
    '7 dr' : '7th dr',
    '6 ave' : '6th ave',
    '6 st' : '6th st',
    '6 rd' : '6th rd',
    '6 dr' : '6th dr',
    '5 ave' : '5th ave',
    '5 st' : '5th st',
    '5 rd' : '5th rd',
    '5 dr' : '5th dr',
    '4 ave' : '4th ave',
    '4 st' : '4th st',
    '4 rd' : '4th rd',
    '4 dr' : '4th dr',
#     '3 ave' : '3rd ave',
#     '3 st' : '3rd st',
#     '3 rd' : '3rd rd',
#     '3 dr' : '3rd dr',
#     '2 ave' : '2nd ave',
#     '2 st' : '2nd st',
#     '2 rd' : '2nd rd',
#     '2 dr' : '2nd dr',
#     '1 ave' : '1st ave',
#     '1 st' : '1st st',
#     '1 rd' : '1st rd',
#     '1 dr' : '1st dr',
    '6995 midtown exp' : '6995 queens midtown exp',
    'world fair marina' : 'marina rd',
    'country dr east' : 'country dr e',
    'throgs neck expressway' : 'throgs neck expy',
    '99 einstein loop' : '99 einstein loop n',
    'canal st west' : 'canal st',
    'madison square north' : 'madison square n',
    'brdway' : 'broadway',
    'expressway' : 'expy'
}

other.loc[pd.notnull(other['off street name']), 'off street name'] = \
other.loc[pd.notnull(other['off street name']), 'off street name'].apply(lambda x: x.lower())

for key in list(replace_dict.keys()):
    other.loc[pd.notnull(other['off street name']), 'off street name'] = \
    [x.replace(key, replace_dict[key]) for x in other.loc[pd.notnull(other['off street name']), 'off street name']]

In [12]:
other['borough'].fillna('', inplace = True)
other['zip code'].fillna('', inplace = True)

In [13]:
# print(len(other))
# start = dt.now()
# print('start time: {}\n'.format(start))

# key = 'AIzaSyBBnUd3bG8AKy2IBi6mwa3XoBghts4FNHg'
# base_url = 'https://maps.googleapis.com/maps/api/geocode/json?key={}&address='.format(key)

# df = []

# paths = []
# skipped = []
# count = 0
# for i in list(other.index):
#     rowlet = other.loc[i, :]
#     try:
#         address = rowlet['off street name'].lstrip().rstrip().replace(' ', '+')
#     except:
#         address = ' '.join([
#             rowlet['cross street name'], 
#             'and', 
#             rowlet['on street name']
#         ]).lstrip().rstrip().replace(' ', '+')           
#     url = ''.join([base_url, address])
#     pre_soup = requests.get(url)
#     if str(pre_soup) != '<Response [200]>':
#         print('\n{}\n'.format(url))
#         skipped.append(url)
#         continue
#     time.sleep(0.05)
#     souplet = BeautifulSoup(pre_soup.content, 'lxml').text
#     results = json.loads(souplet)['results']
#     for lil_result in results:
#         which = [x['long_name'] for x in lil_result['address_components']]
#         if len(list(set(['Brooklyn', 'Bronx', 'Staten Island', 'Manhattan', 'Queens']) & set(which))) > 0:
#             a = lil_result['geometry']['location']['lat']
#             b = lil_result['geometry']['location']['lng']
#             try:
#                 c = lil_result['geometry']['location_type']
#             except:
#                 c = np.nan
#             try:
#                 d = lil_result['types']
#             except:
#                 d = np.nan
#             df.append((i, a, b, c, d))
#             continue
#     if count%1000 == 0:
#         print(count, end = '')
#     elif count%100 == 0:
#         print('.', end = '')
#     count += 1

# print('\ndone!')

# df = pd.DataFrame(df, columns = ['idx', 'lat', 'lon', 'location_type', 'types'])
# df.to_csv('assets/googleapicoords2017.csv')

# finish = dt.now()
# print('\ntime elapsed: {}'.format(finish - start))

In [14]:
acc = pd.read_csv('assets/2017.csv')
coords = pd.read_csv('assets/googleapicoords2017.csv')
coords.set_index('idx', inplace = True)

In [15]:
acc[['lat', 'lon']].isnull().sum()[acc[['lat', 'lon']].isnull().sum() != 0]

lat    11492
lon    11488
dtype: int64

In [16]:
for i in list(coords.index):
    try:
        acc.loc[i, 'lat'] = coords.loc[i, 'lat']
        acc.loc[i, 'lon'] = coords.loc[i, 'lon']
    except:
        pass

In [17]:
## these observations seems to have coordinates outside the 5 boroughs
acc[['lat', 'lon']].isnull().sum()[acc[['lat', 'lon']].isnull().sum() != 0]

lat    1421
lon    1419
dtype: int64

In [18]:
acc = acc[(pd.notnull(acc['lat'])) & (pd.notnull(acc['lon']))]

In [19]:
acc.to_csv('assets/2017_clean.csv', index = False)